<div class="row d-flex justify-content-center vh-100">
    <div class="col-6">
        <div class="card">
            <form action="">
                <div class="card rounded-1  p-2 pb-4">
                    <form class="row g-4 p-3 rounded-0 h-100">
                        <div class="col-md-12">
                            <label for="genre" class="form-label fw-bold">GENRE</label>
                            <select id="genre" class="form-select rounded-0">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="isbn" class="form-label fw-bold">ISBN</label>
                            <input type="text" class="form-control rounded-0" id="isbn">
                        </div>
                        <div class="col-12">
                            <div class="d-flex gap-2 justify-content-center mt-2">
                                <button type="submit" class="btn btn-success px-4">DELETE BOOKS</button>
                               
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>