::ng-deep .nav-tabs .nav-item .nav-link.active {
  background-color: rgb(248 249 250) !important;
  border-bottom: 1px;
}

::ng-deep .nav-tabs .nav-item .nav-link {
  color: #2c2c2c;
}

::ng-deep .panel-title {
  text-align: center;
  text-decoration: none;

  .btn-link {
    text-decoration: none;
    color: #2c2c2c;
    font-weight: 700;
  }
}

:host ::ng-deep .panel-collapse {
  display: block !important;
}

@media (max-width: 768px) {
  :host ::ng-deep .panel-collapse {
    display: none !important;
  }

  :host ::ng-deep .panel-collapse.show {
    display: block !important;
  }

  ::ng-deep .bi.bi-caret-down-fill {
    display: block !important;
  }
}