<section class="library-hours py-5 ">
    <div class="container text-center">
        <h2 class="fw-bold mb-4  text-uppercase">Library Working Hours</h2>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered shadow-sm table-striped">
                    <tbody>
                        <tr>
                            <td>Monday - Friday</td>
                            <td>9:00 AM – 8:00 PM</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>9:00 AM – 5:00 PM</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>