<div class="card rounded-0">
  <div id="searchMember" class="d-flex justify-content-between align-items-center p-2 bg-primary">
    <h4 class="fw-bold m-0 text-white">BOOKS</h4>
    <input type="search" class="form-control rounded-0" placeholder="Search Books..." aria-label="Search Books" />
  </div>

 <ngx-datatable (activate)="onClickRow($event)"
  class="material"
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="10"
  [columnMode]="'force'"
   [rowHeight]="50"
  [scrollbarV]="true"
  [scrollbarH]="true">
</ngx-datatable>
</div>