<div class="container-fluid py-5 text-center">
    <div class="w-75 mx-auto ">
        <h2 class="text-uppercase fw-bold">About the City Library</h2>
        <p>The City Library holds a collection of international importance in the humanities. With over
            360,000 volumes available on open shelves, it is the largest collection in the world focused on the
            afterlife of antiquity and the survival and transmission of culture, with a particular emphasis on
            Medieval and Renaissance studies.</p>
    </div>
</div>