<div class="books-section p-md-5">
    <h2 class="fw-bold text-center text-uppercase my-2">{{displayBooks.title || 'Section Title'}}</h2>



    <div class="container-fluid">
        @if (displayBooks) {
        <owl-carousel-o [options]="customOptions">
            @for (book of displayBooks.books; track book.isbn) {
            <ng-template carouselSlide>
                <div class="card">
                    <img [src]="book.bookImg" class="card-img-top " [alt]="book.bookTitle">
                    <div class="card-body">

                        <h5 class="card-title fw-bold">{{book.bookTitle}} </h5>

                        <p class="card-text text-secondary text-uppercase">{{book.author}}</p>
                        <span class="badge ms-auto text-uppercase"  [ngClass]="book.availablity === 'Available' ? 'text-bg-dark' : 'text-bg-danger'">{{book.availablity}}</span>
                        <p class="card-text text-secondary mb-0">
                            <small class="text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                                    <path
                                        d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                                </svg> {{book.genre}}</small>
                        </p>

                        <p class="card-text text-secondary mb-0">
                            <small class="text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path
                                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg> {{book.section}}</small>
                        </p>
                        <p class="card-text text-secondary"><small class="text-body-secondary"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-hash" viewBox="0 0 16 16">
                                    <path
                                        d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484p.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z" />
                                </svg> {{book.isbn}}</small>
                        </p>
                        <button type="button" class="btn btn-outline-danger w-100" (click)="onBookDetails(book.bookTitle)">View Details</button>
                    </div>
                </div>
            </ng-template>
            }


        </owl-carousel-o>
        }
    </div>
</div>