:host::ng-deep .multiselect-dropdown[_ngcontent-ng-c3395767766] .dropdown-btn[_ngcontent-ng-c3395767766] {
  display: inline-block;
  border: 0 !important;
  padding: 0!important;
  border-radius: 0!important;
}