   <div class="px-3 pt-3">
            <owl-carousel-o [options]="customOptions" #owlCarousel>
                <ng-template carouselSlide>
                    <img src="assets/images/books/book1.png" alt="...">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/books/book1.png" alt="...">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/books/book1.png" alt="...">
                </ng-template>
            </owl-carousel-o>
        </div>